<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#1890ff" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="antd,umi,umijs,ant design,Scaffolding, layout, Ant Design, project, Pro, admin, console, homepage, out-of-the-box, middle and back office, solution, component library"
    />
    <meta
      name="description"
      content="
    An out-of-box UI solution for enterprise applications as a React boilerplate."
    />
    <meta
      name="description"
      content="
      Out-of-the-box mid-stage front-end/design solution."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>青衣</title>
    <link rel="icon" href="<%= context.config.publicPath +'favicon.ico'%>" type="image/x-icon" />
  </head>
  <body>
    <noscript>
      <div class="noscript-container">
        Hi there! Please
        <div class="noscript-enableJS">
          <a href="https://www.enablejavascript.io/en" target="_blank" rel="noopener noreferrer">
            <b>enable Javascript</b>
          </a>
        </div>
        in your browser to use Ant Design, Out-of-the-box mid-stage front/design solution!
      </div>
    </noscript>
    <div id="root">
      <style>
        html,
        body,
        #root {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #root {
          background-repeat: no-repeat;
          background-size: 100% auto;
        }
        .container {
          position: relative;
          width: 250px;
          height: 150px;
          -webkit-box-reflect: below 1px linear-gradient(transparent, rgb(7, 15, 26));
        }
        .container > span {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          color: rgb(20, 129, 202);
          font-size: 18px;
          text-shadow: 0 0 10px rgb(20, 129, 202), 0 0 30px rgb(20, 129, 202),
            0 0 60px rgb(20, 129, 202), 0 0 100px rgb(20, 129, 202);
          transform: translate(-50%, -50%);
        }
        .circle {
          position: relative;
          width: 150px;
          height: 150px;
          margin: 0 auto;
          background-color: rgb(37, 22, 156);
          border-radius: 50%;
          animation: zhuan 0.5s linear infinite;
        }

        .circle::after {
          position: absolute;
          top: 10px;
          right: 10px;
          bottom: 10px;
          left: 10px;
          background-color: rgb(37, 22, 156);
          border-radius: 50%;
          content: '';
        }

        .ring {
          position: absolute;
          top: 0;
          left: 0;
          width: 75px;
          height: 150px;
          background-image: linear-gradient(180deg, rgb(22, 121, 252), transparent 80%);
          border-radius: 75px 0 0 75px;
        }
        .ring::after {
          position: absolute;
          top: -2.5px;
          right: -5px;
          z-index: 1;
          width: 15px;
          height: 15px;
          background-color: rgb(40, 124, 202);
          border-radius: 50%;
          box-shadow: 0 0 5px rgb(40, 151, 202), 0 0 20px rgb(40, 124, 202),
            0 0 30px rgb(40, 124, 202), 0 0 40px rgb(40, 124, 202), 0 0 50px rgb(40, 124, 202),
            0 0 60px rgb(40, 124, 202), 0 0 60px rgb(40, 124, 202);
          content: '';
        }

        @keyframes zhuan {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      </style>
      <div style="display: flex; align-items: center; justify-content: center; height: 100%">
        <div class="container">
          <span>Loading...</span>
          <div class="circle">
            <div class="ring"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
